---
import type { Code } from 'astro:components';

type Props = {
    game: string;
    image: string;
    metascore: string;
    userscore: string;
    openscore: string;
    urlgame: string;
    urlmeta: string;
    urlopen: string;
    developer: string;
    place: string;
    awards: string;
};

const { game, image, metascore, urlgame, openscore, urlmeta, urlopen, developer, place, userscore, awards } = Astro.props;
---

<div class="mx-auto overflow-visible card pb-2">
    <div class="flex">
        <div class="flex-shrink">
            <img class="sm:h-40 sm:w-28 h-16 aspect-square sm:aspect-auto object-cover rounded-xl" src={image} alt={game} title={game}>
        </div>
        <div class="pl-4">
            <h2 class="pt-0 w-72 sm:w-full pb-2 text-xl sm:text-4xl text-balance" id={game}>
                <a class="border-b-0" href={urlgame} target="_blank">
                    {place}. {game}
                </a>
            </h2>
            <p class="py-1 text-md sm:text-xl leading-tight font-medium hidden sm:block">
                {developer}
            </p>
            <ul class="hidden sm:inline-block">
                <li><span class="font-medium">Награды</span>: {awards}</li>
                <li><a href={urlmeta} target="_blank">Metacritic</a>: Metascore {metascore}, User Score {userscore}</li>
                <li><a href={urlopen} target="_blank">OpenCritic</a>: {openscore}</li>
            </ul>
        </div>
    </div>
</div>